# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Content/__ExternalActors__/
Content/__ExternalObjects__/
*.VC.db
*.opendb
*.sdf
*.suo
*.xcworkspace
*.xcodeproj

# Visual Studio
.vs/
.idea/
*.user

# Compilados
*.pdb
*.ilk
*.exp
*.lib